*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    height: 100%;
    background-color: #f63e4e;
}
.menu-btn{
        color: #424144;
        font-size: 23px;
        cursor: pointer;
        display: none;
}
.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #f3f4f6;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.navbar img{
    width: 150px;
    height: 100px;
}
.navbar .logo h1{
    color: #424144;
    border-bottom: 4px solid #fd6561;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: #424144;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.navbar .menu li .active3{
    border-bottom: 4px solid #f63e4e;
}
.navbar .menu li a i{
    color: #f63e4e;
}
.navbar .menu li a:hover{
    border-bottom: 4px solid #f63e4e; 
}
.blog{
    width: 500px;
    height: 500px;
    margin-left: 250px;
    margin-top: 40px;
}
/* .blog .img{
    width:200px;
    height:100px;
    border: 1px solid #fd6561;
    border-radius: 50px 50px 50px 50px;
} */
img{
    width: 400px;
    height: 400px;
    margin-top: 40px;
    border: 3px solid white;
    border-radius: 2px;
    
}
p{
    width: 400px;
    transform: translate(900px,-300px);
    font-size: larger;
    line-height: 45px;
    color: bisque;
}