*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    height: 100%;
     background-color: #f63e4e;
}
.menu-btn{
    color: #424144;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.navbar{
padding: 20px 5%;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0;
z-index: 999;
background-color: #f3f4f6;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.navbar img{
    width: 150px;
    height: 100px;
}
.navbar .logo h1{
color: #424144;
border-bottom: 4px solid #fd6561;
}
.navbar .menu li{
list-style: none;
display: inline-block;
}
.navbar .menu li a{
display: block;
margin-left: 20px;
color: #424144;
border-bottom: 4px solid transparent;
text-decoration: none;
font-size: 20px;
font-weight: bold;
}
.navbar .menu li .active1{
border-bottom: 4px solid #f63e4e;
}
.navbar .menu li a i{
color: #f63e4e;
}
.navbar .menu li a:hover{
border-bottom: 4px solid #f63e4e; 
}
.pheading{
    text-align: center;
    margin: 50px 0;
    color: #424144;
    font-size: 40px;
}
.pheading h1{
    text-align: center;
}
.container, .deals-container{
    margin: 50px 50x 50px 5%;
    width: 90%;
    text-align: center;
}
.categories, .items{
    width: max-content;
    margin: 25px;
    border: 1px solid #fd6561;
    border-radius: 50px 50px 50px 50px;
    display: inline-block;
}
.categories:hover, .items:hover{
    box-shadow: 0 0 10px 3px #f63e4e;
}
.item-image{
    height: 200px;
    width: 200px;
    border-radius: 50px 50px 50px 50px;
    padding: 10px;
}
/* .products{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
} */
.fashion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 480px;
    
}
.fashion2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.products .card{
    width: 310px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
.products .card img{
    height: 250px;
    width: 100%;
}
.products .card .desc{
    padding: 5px 20px;
    opacity: 0.8;
}
.products .card title{
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}
.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.products .card .box .price{
    color: #f63e4e;
    font-size: 20px;
    font-weight: bold;
}
.products .card .box .btn{
    font-size: 13px;
    color: #f63e4e;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid #f63e4e;
    border-radius: 20px;
}
.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #f63e4e;
    color: white;
}
.card .box i:hover{
    color: #f63e4e;
    cursor: pointer;
    border-radius: 8px;
}
.sticky{
    position: fixed;
    width: 100%;
}
.fashion3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}